@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

body {
    background: #192329;
    overflow: hidden;
}

.header{
    position: fixed;
    left: 1.5vw;
    top: 3vh;
    width: clamp(150px,13vw,250px);
    height: 94vh;
    border-radius: 25px;
    background: #32444f;
    filter: drop-shadow(0 0 0.4rem rgba(0,0,0,0.5));
}

.logo{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

.logo img{
    width: 50%;
}

.main-menu{
    display: block;
    margin-top: 50px;
}

.main-menu-item{
    display: block;
    width: 100%;
    text-align: left;
    padding: 15px;
    background: #32444f;
    border: none;
    font-size: 1.3rem;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.main-menu-item:hover, .main-menu-item.active{
    background: white;
    color: #32444f;
}







.popover-wrapper{
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.75);
    z-index: 50;
}

.popover-wrapper.active{
    display: flex;
}

.popover{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1350px;
    aspect-ratio: 16/9;
    border-radius: 25px;
    background: white;
}

.popover #artwork{
    display: block;
    max-width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px 0px 0px 25px;
}

.popover .contents{
    display: block;
    margin-left: 25px;
}

.popover .contents h1{
    display: block;
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 550;
    margin: 0;
}

.popover .contents #director{
    display: block;
    font-size: 1.75rem;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(44,112,244);
    margin-top: 30px;
    margin-bottom: 30px;
}

.popover .contents #description{
    display: block;
    font-family: sans-serif;
    font-size: 1.2875rem;
    line-height: 1.35;
    letter-spacing: .2px;
    font-weight: 325;
}

.popover #year{
    position: absolute;
    right: 2%;
    top: 2%;
    font-size: 5rem;
    font-weight: 550;
}

.movie-menu-item{
    display: inline-block;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 1.1875rem;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    background: #959ca3;
    color: white;
    cursor: pointer;
    transition: background 0.5s;
}

.movie-menu-item:hover{
    background: #192329;
}










.main-wrapper{
    margin-top: 0;
    margin-left: 17vw;
    width: 80vw;
    height: 97vh;
}

.menu-wrapper{
    position: fixed;
    display: block;
    width: 100%;
    height: 15vh;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
    z-index: 20;
    background-image: linear-gradient(to bottom, rgba(25,35,41,1), rgba(25,35,41,0.8), rgba(25,35,41,0.6), rgba(25,35,41,0));
    pointer-events: none;
}

.menu-container{
    position: absolute;
    left: 0;
    top: 5%;
    height: 35%;
    width: 10000px;
    pointer-events: auto;
}

.menu-container .menu-item{
    height: 100%;
    background: #3e6375;
    border: 1px solid;
    border-color: #3e6375;
    border-radius: 10px;
    margin-right: 15px;
    padding: 0px 25px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

.menu-container .menu-item:hover, .menu-container .menu-item.active{
    background: white;
    border-color: white;
    color: #192329;
}





.library-wrapper{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.library-item{
    position: relative;
    display: inline-block;
    width: calc(20% - 24px);
    aspect-ratio: 1/1.5;
    max-height: 400px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
    cursor: pointer;
}

.library-item:nth-child(-n+5){
    margin-top: 12vh;
}

.library-item:nth-child(5n){
    margin-right: 0px;
}

.library-item:first-child, .library-item:nth-child(5n+1){
    margin-left: 0px;
}

.library-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.library-item .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-image: linear-gradient(to top, rgba(255,255,255,0.6), rgba(255,255,255,0));
    opacity: 0;
    transition: 0.5s;
}

.library-item:hover .overlay{
    opacity: 1;
}
/*
.library-wrapper .library-overlay{
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));
    z-index: 10;
}*/



.loading{
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    z-index: 100;
}

.loading.active{
    display: flex;
}

.loading-icon{
    font-size: 4rem;
    color: white;
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
}




@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
