@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

body {
    background: #192329;
    overflow: hidden;
}

.logo-wrapper{
    position: absolute;
    display: flex;
    left: 0;
    top: 5vh;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
}

.logo-wrapper img{
    height: 100%;
}

.linkbtnreturn{
    position: fixed;
    left: 3%;
    top: 3%;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 450;
    z-index: 1;
}

#homelink{
    z-index: 20;
    cursor: pointer;
}

.library-wrapper{
    position: absolute;
    left: 0;
    bottom: 2%;
    width: 100%;
    height: 80vh;
    overflow-x: scroll;
    scrollbar-color: #ffffff #192329;
}

.library{
    position: absolute;
    display: flex;
    left: 0;
    bottom: 5%;
    align-items: flex-end;
    width: 50000px;
    height: 100%;
}

.library-item{
    position: relative;
    width: 43vh;
    aspect-ratio: 1/1.5;
    margin-left: 50px;
    transform: scale(1.0);
    transform-origin: center bottom;
    transition: transform 0.5s;
    cursor: pointer;
}

.library-item .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-image: linear-gradient(to top, rgba(255,255,255,0.5), rgba(255,255,255,0));
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s;
}

.library-item img{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1.5;
    object-fit: cover;
    border-radius: 20px;
}

.library-item:hover{
    transform: scale(1.05);
}

.library-item:hover .overlay{
    opacity: 1;
}




.details{
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #192329;
    z-index: 20;
}

.details.active{
    display: block;
}

.hero{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50vh;
}

.hero #artwork{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 30%;
    z-index: 1;
}

.hero .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0,0,0,0.75), rgba(0,0,0,0));
    z-index: 2;
}

.hero .overlay-2{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to top, rgba(0,0,0,0.75), rgba(0,0,0,0));
    z-index: 3;
}

.hero .show-details{
    position: relative;
    display: block;
    max-width: 40%;
    margin-left: 50px;
    z-index: 4;
}

.hero .show-details #logo{
    max-width: 100%;
}

.hero .show-details #description{
    font-family: sans-serif;
    color: white;
    font-size: 1.2875rem;
    line-height: 1.4;
    font-weight: 320;
}

.episode-item{
    position: relative;
    width: 48vh;
    aspect-ratio: 1/1;
    border-radius: 20px;
    margin-left: 50px;
    background: white;
    cursor: pointer;
}

.episode-item img{
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.episode-item .episode-details{
    display: block;
    padding: 20px;
}

.episode-item .episode-details .title{
    display: block;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 500;
}

.episode-item .episode-details .description{
    display: block;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.35;
    font-weight: 350;
}


.season-wrapper{
    position: absolute;
    display: flex;
    right: 1%;
    bottom: 15%;
    align-items: flex-end;
    justify-content: right;
    width: 56%;
    z-index: 100;
}

.season-item{
    display: inline-block;
    font-family: sans-serif;
    font-size: 2rem;
    line-height: 1;
    font-weight: bold;
    color: white;
    filter: drop-shadow(0 0 1rem rgba(0,0,0,0.85));
    margin-left: 25px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.5s;
}

.season-item.small{
    font-size: 1.5rem;
}

.season-item:hover, .season-item.active{
    opacity: 1;
}
