/*

Theme: GO

*/

* {
	font-family: sans-serif;
}

body{
	margin: 0;
	background: rgb(20,20,20);
}

#watch{
	background: black;
}

.video-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

#video{
	display: block;
	width: 100%;
	max-height: 100vh;
}

.library{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
	background-image: linear-gradient(to top, rgb(0,0,0), rgb(20,20,20));
}

.movie-item{
	position: relative;
	display: inline-flex;
	align-items: center;
	width: clamp(400px,33vw,550px);
	aspect-ratio: 16/9;
	border-radius: 20px;
	filter: drop-shadow(0 0 0.7rem rgba(0,0,0,0.25));
	background-size: cover;
	background-position: center;
	margin: 20px;
	cursor: pointer;
	transform: scale(1.0);
	transition: 0.5s;
}

.movie-item:hover{
	transform: perspective(500px) rotateY(20deg);
}

.movie-item .gradient{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0));
	z-index: 1;
}

.movie-item .title{
	position: absolute;
	bottom: 5%;
	display: block;
	padding: 20px;
	font-size: clamp(36px,3vw,48px);
	line-height: 1;
	font-weight: bold;
	color: white;
	z-index: 2;
}

.profile-wrapper{
	position: fixed;
	display: none;
	left: 0;
	top: 0;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.75);
}

.profile-wrapper.active{
	display: flex;
}


.profile-wrapper .profile{
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 1210px;
	height: 0px;
	background: white;
	transition: 1s;
}

.profile-wrapper .profile #year{
	position: absolute;
	right: 2%;
	top: 2%;
	font-size: 5rem;
	line-height: 1;
	font-weight: bold;
}

.profile-wrapper.active .profile{
	height: 750px;
	transition: 1s;
	transition-delay: 0.3s;
}

.profile-wrapper .profile #image{
	height: 100%;
	filter: drop-shadow(0 0 0.7rem rgba(0,0,0,0.2));
}

.profile-wrapper .profile .content{
	display: block;
	padding: 30px;
}

.profile-wrapper .profile .content #title{
	display: block;
	font-size: 3rem;
	line-height: 1;
	font-weight: bold;
}

.profile-wrapper .profile .content #description{
	display: block;
	font-size: 1.5rem;
	line-height: 1.35;
	font-weight: 300;
}

.profile-wrapper .profile .profile-menu-wrapper{
	display: block;
	margin-top: 20px;
}

.profile-wrapper .profile .profile-menu-wrapper .profile-menu-item{
	display: inline-block;
	padding: 12px 15px;
	font-size: 1.2rem;
	line-height: 1;
	font-weight: bold;
	text-transform: uppercase;
	background: #2c70f4;
	border: none;
	color: white;
	cursor: pointer;
	transition: 0.3s;
}

.profile-wrapper .profile .profile-menu-wrapper .profile-menu-item:hover{
	background: #1f56bf;
}









